@media only screen and (max-width: 1205px) {
    .footer-wrap {
        /* flex-direction: column-reverse; */
        align-items: center;
    }
}
@media only screen and (max-width: 780px) {
    .nav-bar {
        flex-direction: column;
    }
    .nav-element {
        flex-direction: column;
        position: relative;
        /* background: #181827; */
        background: #13131f24;
        right: 2.25rem;
        width: 100vw;
        padding: 30px 0;
        margin-top: 20px;
        transition: all 1s ease-in-out;
    }

    .nav-element a {
        border-bottom: 2px solid #13131f78;
    }

    .menu-btn {
        display: flex;
        position: absolute;
        top: 1.25rem;
        right: 1.25rem;
        scale: 0.8;
    }
    .logo {
        width: 20%;
    }

    .show {
        display: flex;
    }
    .hide {
        display: none;
    }
    .hero-earth {
        bottom: -120px !important;
        scale: 1.2
    }

    .hero-content h1 {
        text-align: center;
        padding: 20px;
        font-size: 45px;
    }
    .hero-content p {
        width: 80%;
    }

    .tracks-img {
        display: block;
    }

    .tracks-section-card {
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .tracks-section-card > div {
        margin-top: 20px;
    }
    .tracks-section-card h3 {
        font-size: 25px;
        text-align: center;
    }
    .tracks-section-card p {
        width: 100%;
        margin-top: 20px;
        text-align: right;
    }

    .faq-body {
        display: grid !important;
        grid-template-columns: 1fr !important;
        gap: 0px !important;
    }
}

@media only screen and (max-width: 540px) {
    .logo {
        width: 30%;
    }
}


@media only screen and (max-width: 380px) {

    .logo {
        width: 20%;
    }
    .nav-bar {
        padding: 16px 20px;
    }
    .nav-element {
        right: 20px;
    }
    
}